.Contracts {
    background-color: #94c3f4;
    width: 100vw;
    height: 100vh;
}

.UploadButton > input[type="file"] {
    display: none;
}
.UploadButton > button {
    display: none;
}
.UploadButton > label{
    cursor: pointer;
}

.UploadButton {
    border: 2px solid #ccc;
    border-radius: 10px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 20px;
    font-family: monospace;
    color: white;
    background-color: blueviolet;
}